<section class="management">
  <nav id="sidebar">
    <div class="sidebar-brand">
      <fa-icon [icon]="faDb"></fa-icon>
      DevSecOps Dashboard
    </div>
    <ul class="menu">
      <li
        routerLink=""
        (click)="setOption('DASHBOARD')"
        [class]="{ active: option === 'Dashboard' }"
      >
        <a routerLink="" (click)="setOption('DASHBOARD')"
          ><mat-icon>dashboard</mat-icon> Dashboard</a
        >
      </li>
      <li
        routerLink="/scan/commits"
        (click)="setOption('SCANNING REPORTS')"
        [class]="{ active: option === 'Scan Report' }"
      >
        <a routerLink="/scan/commits" (click)="setOption('SCANNING REPORTS')"
          ><mat-icon>report</mat-icon> Scanning Reports</a
        >
      </li>
    </ul>
  </nav>
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <p class="path">
          <fa-icon class="iconHome" [icon]="faHome"></fa-icon>HOME<fa-icon
            [icon]="faRight"
            class="iconRight"
          ></fa-icon
          ><span>{{ option }}</span>
        </p>
        <div class="dropdown account infoUser">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="../../assets/avatar.png" width="30" />
            {{ currentUser }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="handleLogOut()"
              ><fa-icon [icon]="faSignOut"></fa-icon> Log Out</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="content__detail">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
