.management {
  display: flex;
  #sidebar {
    width: 20%;
    min-height: 100vh;
    background-color: #4e73df;
    position: fixed;
    .sidebar-brand {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      padding: 40px 20px;
      position: relative;
      &::after {
        content: "";
        background: rgba(255, 255, 255, 0.15);
        height: 1px;
        width: 90%;
        bottom: 0;
        left: 3%;
        position: absolute;
      }
    }
    .menu {
      list-style: none;
      padding-left: 0;
      li {
        padding: 20px 25px;
        position: relative;
        cursor: pointer;
        a {
          display: flex;
          align-items: center;
          mat-icon {
            margin-right: 10px;
          }
        }
        &.active {
          a {
            color: #fff;
            font-weight: 500;
          }
        }
        &:hover {
          a {
            color: #fff;
            font-weight: 500;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &::after {
          content: "";
          background: rgba(255, 255, 255, 0.15);
          height: 1px;
          width: 90%;
          bottom: 0;
          left: 3%;
          position: absolute;
        }
        a {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .content {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    .navbar {
      padding: 18px;
      background-color: #fff;
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
      position: fixed;
      width: 80%;
      z-index: 100;
      .path {
        color: #858796;
        margin-bottom: 0;
        .iconHome {
          margin-right: 10px;
        }
        .iconRight {
          margin: 0 10px;
        }
        span {
          color: #000;
          font-weight: 500;
        }
      }
    }
    .content__detail {
      margin-top: 60px;
      padding: 35px;
    }
  }
}
