<table class="table table-bordered">
  <thead>
    <th>Scanners</th>
    <th>Status</th>
    <th>Detail</th>
  </thead>
  <tbody>
    <tr *ngFor="let tool of selectedCommitDetail">
      <td>{{ tool.name }}</td>
      <td class="status">
        <div *ngIf="tool.status !== 'running'" class="progress">
          <div
            class="progress-bar progress-bar-striped"
            [ngClass]="{
              'bg-success': tool.status === 'pass',
              'bg-info': tool.status === 'skip',
              'bg-danger': tool.status === 'fail'
            }"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ tool.status | uppercase }}
          </div>
        </div>
        <div *ngIf="tool.status === 'running'" class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 100%"
          >
            {{ tool.status | uppercase }}
          </div>
        </div>
      </td>
      <td>
        <button
          class="btn btn-warning sonar"
          *ngIf="tool.param === 'sonarqube'"
        >
          <a [href]="sonarUrl" target="_blank"
            ><fa-icon [icon]="faDetail"></fa-icon
          ></a>
        </button>
        <button
          *ngIf="tool.param !== 'sonarqube'"
          routerLink="/scan/commits"
          [queryParams]="{ id: commitid, tool: tool.param }"
          class="btn btn-warning"
        >
          <fa-icon [icon]="faDetail"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
