h3 {
  text-align: right;
  color: #000;
  font-weight: 500;
  font-style: italic;
}
h4 {
  color: #000;
  font-weight: 600;
}
.table {
  table-layout: fixed;
  margin-top: 15px;
  text-align: center;
  border: 2px solid #c8e1ff !important;
  thead {
    th {
      vertical-align: middle;
      background-color: #f1f8ff;
      border: 2px solid #c8e1ff !important;
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border: 2px solid #c8e1ff !important;
      }
    }
  }
}

.summaryAlerts {
  margin-bottom: 50px;
  .table {
    width: 50%;
    thead {
      th {
        vertical-align: middle;
        background-color: #f1f8ff;
        border: 2px solid #c8e1ff !important;
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
          &:first-child {
            border: 2px solid #c8e1ff !important;
          }
        }
      }
    }
  }
}

.alerts {
  margin-bottom: 50px;
  .table {
    thead {
      background-color: #f1f8ff;
      th {
        vertical-align: middle;
        border: 2px solid #c8e1ff !important;
      }
    }
    width: 85%;
    tbody {
      tr {
        td {
          vertical-align: middle;
          border: 2px solid #c8e1ff !important;
        }
      }
    }
  }
}

.alertDetail {
  #accordion {
    .card {
      border: none;
      .card-header {
        &.high {
          background-color: #dc3545;
        }
        &.medium {
          background-color: #28a745;
        }
        &.low {
          background-color: #ffc107;
          h5 {
            button {
              color: black;
            }
          }
        }
        &.informational {
          background-color: #17a2b8;
        }
        h5 {
          button {
            color: #000;
            font-weight: 500;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .table {
    text-align: left;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1131px) {
  .alerts {
    .table {
      width: 100% !important;
    }
  }
}
