form {
  width: 30%;
  margin-left: 70%;
  input {
    background-color: #f8f9fc;
    border: none;
    font-size: 14px;
    height: calc(1.5em + 0.75rem + 5px);
    &:focus {
      box-shadow: none;
    }
  }
  button {
    background-color: #4e73df;
    border-color: #4e73df;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    transition: all 0.5s;
    &:hover {
      background-color: #2e59d9;
      border-color: #2653d4;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
.table {
  margin-top: 15px;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 20px;
  border: 2px solid #c8e1ff !important;
  thead {
    th {
      background-color: #f1f8ff;
      border: 2px solid #c8e1ff !important;
      &:first-child {
        width: 45%;
      }
      &.func {
        width: 10%;
      }
    }
  }
  tbody {
    tr {
      td {
        border: 2px solid #c8e1ff !important;
        vertical-align: middle;
        &.status {
          font-weight: 500;
          .progress {
            height: 20px;
            width: 80%;
            margin: auto;
            .progress-bar {
              font-size: 14px;
              color: #fff;
            }
          }
        }
      }
      button {
        font-size: 14px;
      }
    }
    .noData {
      td {
        color: red;
        padding: 100px;
        font-style: italic;
      }
    }
  }
}

pagination-controls {
  text-align: right;
}
