.table {
  margin-top: 15px;
  color: #858796;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 40px;
  thead {
    th {
      &:first-child {
        width: 40%;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        &:first-child {
          text-align: left;
        }
        &.status {
          p {
            margin-bottom: 0;
            color: #fff;
            border-radius: 25px;
            width: 50%;
            padding: 5px;
            margin: auto;
            &.pass {
              background-color: #05be05;
            }
            &.fail {
              background-color: #dc3545;
            }
            &.running {
              background-color: #2e59d9;
            }
          }
        }
      }
      button {
        font-size: 14px;
        background-color: #4e73df;
        color: #fff;
        border-radius: 0;
        transition: all 0.5s;
        &:hover {
          background-color: #2e59d9;
        }
      }
    }
  }
}

pagination-controls {
  text-align: right;
}
