<table class="table table-bordered">
  <thead>
    <tr>
      <th>Commit ID</th>
      <th>Status</th>
      <th>High</th>
      <th>Medium</th>
      <th>Low</th>
      <th>Date Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let commit of commits">
      <td>{{commit.commitId}}</td>
      <td>{{commit.status}}</td>
      <td class="high"><p>5</p></td>
      <td class="medium"><p>none</p></td>
      <td class="low"><p>3</p></td>
      <td>{{commit.date}}</td>
      <td><button routerLink="/scan/tools" (click)="selectCommit(commit.commitId)" class="btn">Detail</button></td>
    </tr>
  </tbody>
</table>
