<table class="table table-bordered">
  <thead>
    <tr>
      <th>Commit ID</th>
      <th>Status</th>
      <th>Date Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let commit of dataReport | paginate: { itemsPerPage: 5, currentPage: p }
      "
    >
      <td>{{ commit.commitid }}</td>
      <td class="status">
        <p [class]="commit.status">{{ commit.status }}</p>
      </td>
      <td>{{ commit.date | date: "dd/MM/yyyy HH:mm:ss":"UTC" }}</td>
      <td>
        <button
          routerLink="/scan/commits"
          [queryParams]="{ id: commit.commitid }"
          class="btn"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
  (pageChange)="pageChanged($event)"
  (pageBoundsCorrection)="pageChanged($event)"
  maxSize="9"
  directionLinks="true"
  autoHide="true"
  responsive="true"
  previousLabel="Previous"
  nextLabel="Next"
  screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page"
  screenReaderCurrentLabel="You're on page"
>
</pagination-controls>
