.accordion {
  .card {
    .card-header {
      background-color: #4e73df;
      h2 {
        button {
          color: white;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
    .card-body {
      h3{
        font-weight: 500;
      }
      .table {
        margin-top: 15px;
        color: #858796;
        text-align: center;
        table-layout: fixed;
        thead{
          tr{
            th{
              &:last-child{
                width: 30%;
              }
            }
          }
        }
        tbody {
          tr {
            td {
              vertical-align: middle;
              &:last-child{
                text-align: left;
              }
            }
            button {
              background-color: #4e73df;
              color: #fff;
              border-radius: 0;
              transition: all 0.5s;
              &:hover {
                background-color: #2e59d9;
              }
            }
          }
        }
      }
      pagination-controls{
        text-align: end;
      }
    }
  }
}
