.table {
  margin-top: 15px;
  table-layout: fixed;
  border: 2px solid #c8e1ff !important;
  tbody {
    tr {
      th {
        vertical-align: middle;
        background-color: #f1f8ff;
        border: 2px solid #c8e1ff !important;
      }
      td {
        vertical-align: middle;
        border: 2px solid #c8e1ff !important;
      }
    }
  }
}
pagination-controls {
  text-align: end;
}
